/* HEADER STYLING */
.app{
  margin: 0;
  overflow-x: none;
}
.app::-webkit-scrollbar{
  display: none;
}
#header{
  margin: 0;
  display: flex;
  justify-content: space-between;
  background-color: blue;
  padding: 8px;
}
#profileNameAndImage{
  display: inline-block;
  border-radius: 100%;
  border: 1px solid black;
  height: 50px;
  width: 50px;
}


/* FOOTER STYLING */

#footerContainer {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  /* margin-top: 40px; */
}

#footer li {
  display: inline;
  margin-right: 20px;
  font-size: 18px;
}


/* INFO CONTAINER */

#infoContainer{
  overflow-y: scroll;
  border: 1px solid black;
  width: 96%;
  height: 80vh;
  /* height: 100%; */
  margin: 15px auto;
}

#infoContainer::-webkit-scrollbar{
  display: none;
}

/* MEMBER CONTAINER */

#memberRow{
  width: 100%;
  height: 40px;
  border: 1px solid black;
}