/* HEADER STYLING */
.app{
  margin: 0;
}
#header{
  margin: 0;
  display: flex;
  justify-content: space-between;
  background-color: blue;
  padding: 8px;
}
#profileNameAndImage{
  display: inline-block;
  border-radius: 100%;
  border: 1px solid black;
  height: 50px;
  width: 50px;
}


/* FOOTER STYLING */

#footer-links li{
  display: flex;
  align-content: center;
  justify-content: space-around;
  display: inline;
  margin: 20px;
}

/* INFO CONTAINER */

#infoContainer{

  border: 1px solid black;
  width: 96%;
  height: 80vh;
  /* height: 100%; */
  margin: 15px auto;
}
